@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

* {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  
.font-parisienne {
    font-family: "Parisienne", serif;
    font-weight: 400;
    font-style: normal;
}

.my-dropdown {
    width: 300px; /* Fija o máxima */
  }

.my-dropdown .p-dropdown-label {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}